# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore C extensions
*.so

# Ignore zip files
*.zip

# Ignore distribution/packaging files
dist/
build/
*.egg-info/

# Ignore Jupyter Notebook metadata
.ipynb_checkpoints/

# Ignore VS Code settings
.vscode/

# Ignore environment variables
.env

# Ignore these specific files
/results/*
/figures/*

/data/tiny-imagenet-200/

# Ignore save pytorch models
*.pt